body {
    /* Remove default margin from Console component*/
    margin: 0px !important;
    height: 100%;
}

.whisperHeader {
    background-color:#4388CC;
}

.whisperTitle {
    color:#fff;
    text-align: center;
    font-size: 16px;
    padding: 6px 0;
    font-weight: bold;
}

#conversations {
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
    overflow-y: auto;
    border-left: 1px solid #CCC;
}

#facetsSection {
    float:left;
    width:29.7%;
    font-size: 15px;
}

#settingSection{
    position: absolute;
    right: 25px;
    top: 20px;
    background: #FFF;
    color: #000;
    font-weight: normal; 
    text-align: left;
    border: 1px solid #444;
    -webkit-box-shadow: 10px 9px 30px -1px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 9px 30px -1px rgba(0,0,0,0.66);
    box-shadow: 10px 9px 30px -1px rgba(0,0,0,0.66);
    line-height: 1.8;
}

#settingParameters {
    padding: 14px 22px;
}

#settingSection input[type=number] {
    width:40px;
}

#setting {
    float: right;
    position: relative;
    right: 12px;
    color: #DDD;
}

#setting:hover {
    cursor: pointer;
}

.facetHeader {
    background-color: #53A8E6;
    padding: 5px 10px;
    font-size: 17px;
}

.facetName {
    color: #111;
    font-weight: bold;
}

.facetValues {
    padding: 8px 16px;
    font-size: 21px;
}

.facetValue {
    margin-left: 12px;
}

.suggestionSection a {
    text-decoration: none;
    color :#2f8fe4;
}

.suggestionSection a:hover {
    text-decoration: underline;
}

.clearButton {
    float: right;
    color:#FFF;
}

.clearButton:hover  {
    cursor: pointer;
    text-decoration: underline;
}

.filterHeader {
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}
.suggestion .content {
    border-bottom: 1px solid #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 0;
    font-size: 14px;
}
.suggestion .title {
    font-weight: bold;
    color: #333;
}
.suggestion .sentence, .suggestion .excerpt{ 
    margin-bottom: 8px;
}

.suggestion:hover, .questionSection .question:hover {
    cursor: pointer;
    background-color: #eee;
}
.suggestionSection .suggestion { 
    padding: 0 15px;
}

.sectionHeader {
  background-color: #53A8E6;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.questionSection {
    border-bottom: 3px solid #FFF;
}
.questionSection .questionRow {
    font-size: 16px;
    padding: 7px 0;
    border-bottom: 1px solid #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.questionSection .question:last-child .questionRow{
    border:0;
}
.questionSection .question {
    padding: 0 15px;
}

.visibiliteArrow,.visibiliteArrow:hover  {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.fa-times {
    margin: 0 5px;
    font-size: 12px;
    color: #666;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.6); /* IE */
  -moz-transform: scale(1.6); /* FF */
  -webkit-transform: scale(1.6); /* Safari and Chrome */
  -o-transform: scale(1.6); /* Opera */
  padding: 10px;
}