body {
    /* Remove default margin from Console component*/
    margin: 0px !important;
    height: 100%;
}

#whisperHeader {
    background-color:#4388CC;
}

#whisperTitle {
    color:#fff;
    text-align: center;
    font-size: 16px;
    padding: 6px 0;
    font-weight: bold;
}

#conversations {
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
    overflow-y: auto;
}

#facets {
    font-size: 15px;
}

.suggestionSection {
    height: 100%;
    overflow-y: auto
}
.suggestionSection a {
    text-decoration: none;
    color :#2f8fe4;
}

.suggestionSection a:hover {
    text-decoration: underline;
}
.facetSection {
    padding: 7px;
    box-shadow: inset 0 -10px 10px -10px #DDD;
    border-bottom: 1px solid #DDD;
}

.allFacet {
    color: #009DDC;
}

.clearButton {
    color: #009DDC;
    float: right;
}
.clearButton:hover, .facet:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filterHeader {
    font-weight: bold;
}
.suggestion .content {
    border-bottom: 1px solid #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 0;
    font-size: 14px;
}
.suggestion .title {
    font-weight: bold;
    color: #333;
}
.suggestion .sentence, .suggestion .excerpt{ 
    margin-bottom: 8px;
}

.suggestion:hover, .questionSection .question:hover {
    cursor: pointer;
    background-color: #eee;
}
.suggestionSection .suggestion { 
    padding: 0 15px;
}

.sectionHeader {
  background-color: #DDD;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 18px;
}
.questionSection {
    border-bottom: 3px solid #FFF;
}
.questionSection .questionRow {
    font-size: 16px;
    padding: 7px 0;
    border-bottom: 1px solid #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.questionSection .question:last-child .questionRow{
    border:0;
}
.questionSection .question {
    padding: 0 15px;
}

.visibiliteArrow,.visibiliteArrow:hover  {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
.fa-times {
    margin: 0 5px;
    font-size: 12px;
    color: #666;
}